<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>购物车</title>
		<script src="../../js/vue.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="../../js/jquery-1.10.2.js"></script>
		<script src="../../js/bootstrap.js"></script>
		<link rel="stylesheet" href="../../css/bootstrap.css">
		<script src="../../js/lodash.js"></script>
		<style>
			.table {
				width: 100%;
				max-width: 60%;
				margin: 0 20%;
				/* margin: 0 30%; */
				/*margin-bottom: 20px;*/
			}
			
			table tr th,table tr td
			{
				text-align: center;
				vertical-align: middle;
			}
			h4{
				margin-bottom: 0;
				margin-top: 0;
			}
			input{
				border: none;
			}
		</style>
	</head>

	<body>
		<div id="app">
			
				<table class="table table-bordered table-hover text-center">
					<caption class="h3 text-info text-center">商品列表</caption>
					<tr>
						<th>商品编号</th>
						<th>商品名称</th>
						<th>商品价格（￥）</th>
						<th>操作</th>
					</tr>
					<tr v-for="item in goods">
						<td><em>{{item.sn}}</em></td>
						<td><span>{{item.name}}</span></td>
						<td><strong>{{item.price}}</strong></td>
						<td><a href="#"  @click="addCart(item.sn,item.name,item.price)">添加到购物车</a></td>
					</tr>
				</table>

			<table class="table table-bordered table-hover text-center">
				<caption class="h3 text-info text-center">我的购物车</caption>
				<thead>
					<tr class="text-center">
						<th>序号</th>
						<th>商品名称</th>
						<th>价格(￥)</th>
						<th>数量</th>
						<th>小计</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-if="cart.length==0">
						<td colspan="6">
							<h4>购物车还没有商品，赶紧去挑选几件吧!</h4>
						</td>
					</tr>
					<template v-else>
						<tr v-for="(item,index) in cart" class="text-center">
							<td>{{index+1}}</td>
							<td>{{item.sn}}</td>
							<td>{{item.price}}</td>
							<td><input type="number" v-model="item.count" min="1" /></td>
							<td>{{item.price*item.count}}</td>
							<td>
								<a href="#" @click="removeCart(index)">删除</a>
							</td>
						</tr>
						<tr>
							<td colspan="6"><button class="btn" @click="removeAll">全部删除</button></td>
						</tr>
						<tr>
							<td colspan="6">
								商品价钱总计：{{total}}
							</td>
						</tr>
					</template>

				</tbody>

			</table>
		</div>
		<script>
			var goods = [{
					sn: 100,
					name: "Apple） iPhone 5 s(A1530) 4 G手机",
					price: 2198
				},
				{
					sn: 101,
					name: "耐克NIKE 男鞋 跑步鞋 ZOOM PEGASUS 3",
					price: 799
				},
				{
					sn: 102,
					name: "羽绒服",
					price: 899
				},
				{
					sn: 103,
					name: "冲锋衣",
					price: 3899
				},
				{
					sn: 104,
					name: "衬衫",
					price: 399
				}
			];
			var vm = new Vue({
				el: "#app",
				data: {
					goods: goods, //商品数据
					cart: [] //购物车数据
				},
				methods: {
					addCart: function(sn, name, price) {
						console.log(sn, name, price);
						//lodash.js分装的函数
						var index = _.findIndex(this.cart, function(item) {
							return item.sn == sn; //返回索引值
						});
						if(index == -1) {
							this.cart.push({
								sn: sn,
								name: name,
								price: price,
								count: 1
							});
						} else {
							this.cart[index].count++;
						}

					},
					removeCart(index) {
						this.cart.splice(index, 1);
					},
					removeAll(){
						this.cart.splice(0,this.cart.length);
					}
				},
				computed: {
					total: function() {
						var sum = 0;
						this.cart.forEach(function(item) {
							sum += item.price * item.count;
						});
						return sum;
					}
				}
			});
		</script>
	</body>

</html>