<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>todolist</title>
		<script src="../../js/vue.js"></script>
		<style>
			#app{
				max-width: 250px;
				width:100%;
				margin: 0 auto;
			}
			h3{
				background: #007FFF;
				padding: 5px 0;
				text-align: center;
				border-radius: 3px;
			}
			#add{
				text-align: center;
			}
			.del{
				text-decoration:line-through;
				color:#CCCCCC
			}
			input,
			input:focus
			{
				border: none;
				border-bottom: 1px solid #cccccc;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<h3>Todo List</h3>
			<ol>
				<li v-for="(item,index) in list" :key="index">
					<input type="checkbox" @change="change($event)"/><span>{{item}}</span><!--<button @click="del(index)">删除</button>-->
				</li>
			</ol>
			<div id="add"><button @click="add">＋</button><input type="text" v-model="msg"/></div>
		</div>
		<script>
			window.onload=function(){
				var vm=new Vue({
					el:"#app",
					
					data:{
						msg:"",
						selected:false,
						list:["Todolist 1","Todolist 2"]
					},
					methods:{
						add(){
							this.list.push(this.msg);
							this.msg="";
						},
						del(index){
							this.list.spliceh(index,1);
						},
						change(ev){
							console.log(ev.target);
							if(ev.target.checked){
								ev.target.nextSibling.className="del";
							}
						}
					},
//					watch()
					
				});
			}
		</script>
	</body>
</html>
